.MNR_2330,
.MNR_2331,
.MNR_2332,
.MNR_2333,
.MNR_2334 { background-image: url('MNR_233_icons.png'); width: 16px; height: 16px; }

.MNR_2330 { background-position: -0px; }
.MNR_2331 { background-position: -16px; }
.MNR_2332 { background-position: -32px; }
.MNR_2333 { background-position: -48px; }
.MNR_2334 { background-position: -64px; }
