.sm_DynamicCompression_2330,
.sm_DynamicCompression_2331,
.sm_DynamicCompression_2332,
.sm_DynamicCompression_2333,
.sm_DynamicCompression_2334,
.sm_DynamicCompression_2335,
.sm_DynamicCompression_2336,
.sm_DynamicCompression_2337 { background-image: url('sm_DynamicCompression_233_icons.png'); width: 16px; height: 16px; }

.sm_DynamicCompression_2330 { background-position: -0px; }
.sm_DynamicCompression_2331 { background-position: -16px; }
.sm_DynamicCompression_2332 { background-position: -32px; }
.sm_DynamicCompression_2333 { background-position: -48px; }
.sm_DynamicCompression_2334 { background-position: -64px; }
.sm_DynamicCompression_2335 { background-position: -80px; }
.sm_DynamicCompression_2336 { background-position: -96px; }
.sm_DynamicCompression_2337 { background-position: -112px; }
