.pFIR_HPF_testing_and_analysis_2330,
.pFIR_HPF_testing_and_analysis_2331,
.pFIR_HPF_testing_and_analysis_2332,
.pFIR_HPF_testing_and_analysis_2333,
.pFIR_HPF_testing_and_analysis_2334,
.pFIR_HPF_testing_and_analysis_2335 { background-image: url('pFIR_HPF_testing_and_analysis_233_icons.png'); width: 16px; height: 16px; }

.pFIR_HPF_testing_and_analysis_2330 { background-position: -0px; }
.pFIR_HPF_testing_and_analysis_2331 { background-position: -16px; }
.pFIR_HPF_testing_and_analysis_2332 { background-position: -32px; }
.pFIR_HPF_testing_and_analysis_2333 { background-position: -48px; }
.pFIR_HPF_testing_and_analysis_2334 { background-position: -64px; }
.pFIR_HPF_testing_and_analysis_2335 { background-position: -80px; }
