.mean_noise_reduction_2330,
.mean_noise_reduction_2331,
.mean_noise_reduction_2332,
.mean_noise_reduction_2333,
.mean_noise_reduction_2334 { background-image: url('mean_noise_reduction_233_icons.png'); width: 16px; height: 16px; }

.mean_noise_reduction_2330 { background-position: -0px; }
.mean_noise_reduction_2331 { background-position: -16px; }
.mean_noise_reduction_2332 { background-position: -32px; }
.mean_noise_reduction_2333 { background-position: -48px; }
.mean_noise_reduction_2334 { background-position: -64px; }
