.wiener_2330,
.wiener_2331,
.wiener_2332,
.wiener_2333,
.wiener_2334 { background-image: url('wiener_233_icons.png'); width: 16px; height: 16px; }

.wiener_2330 { background-position: -0px; }
.wiener_2331 { background-position: -16px; }
.wiener_2332 { background-position: -32px; }
.wiener_2333 { background-position: -48px; }
.wiener_2334 { background-position: -64px; }
